Repository hmcts/div-decree-nisi-frontend, pull requests merged in 2020-06, with the labels that each got.

#465 Revert SetLanguagePreference class
  core/SetLanguageQuestion.js
  steps/check-your-answers/CheckYourAnswers.step.js
Labels: ns:divorce, prd:div, rel:div-dn-pr-465

#466 RPET-275-div-dn-appInsights
  services/setupSecrets.js
Labels: ns:divorce, prd:div, rel:div-dn-pr-466

#467 RPET-275-div-dn-app-insights-config
  server.js
Labels: ns:divorce, prd:div, rel:div-dn-pr-467

#469 RPET-275-Revert-redis-version
  charts/div-dn/Chart.yaml
  charts/div-dn/requirements.yaml
Labels: ns:divorce, prd:div, rel:div-dn-pr-469

#473 Fix session shimming
  middleware/shimSession.js
  package.json
  sonar-project.properties
  steps/accessibility-statement/AccessibilityStatement.step.js
  steps/adultery-first-found-out/AdulteryFirstFoundOut.step.js
  steps/amend-application/AmendApplication.step.js
  steps/apply-for-decree-nisi/ApplyForDecreeNisi.step.js
  steps/behaviour-continued-since-application/BehaviourContinuedSinceApplication.step.js
  steps/check-your-answers/CheckYourAnswers.step.js
  steps/claim-costs/ClaimCosts.step.js
  steps/contact-divorce-team-error/ContactDivorceTeamError.step.js
  steps/contact-divorce-team/ContactDivorceTeam.step.js
  steps/cookies-policy/CookiesPolicy.step.js
  steps/court-feedback/CourtFeedback.step.js
  steps/desertion-asked-to-resume-dn/DesertionAskedToResumeDN.step.js
  steps/dn-no-response/DnNoResponse.step.js
  steps/done/Done.step.js
  steps/exit-intolerable/ExitIntolerable.step.js
  steps/exit/Exit.step.js
  steps/intolerable/Intolerable.step.js
  steps/lived-apart-since-adultery/LivedApartSinceAdultery.step.js
  steps/lived-apart-since-desertion/LivedApartSinceDesertion.step.js
  steps/lived-apart-since-last-incident-date/LivedApartSinceLastIncidentDate.step.js
  steps/lived-apart-since-separation/LivedApartSinceSeparation.step.js
  steps/mini-petition/MiniPetition.step.js
  steps/petition-progress-bar/PetitionProgressBar.step.js
  steps/privacy-policy/PrivacyPolicy.step.js
  steps/resp-not-admit-adultery/RespNotAdmitAdultery.step.js
  steps/review-aos-response-from-co-respondent/ReviewAosResponseFromCoRespondent.step.js
  steps/review-aos-response/ReviewAosResponse.step.js
  steps/share-court-documents/ShareCourtDocuments.step.js
  steps/terms-and-conditions/TermsAndConditions.step.js
  steps/upload/Upload.step.js
Labels: ns:divorce, prd:div, rel:div-dn-pr-473

#474 Add conditional logic for Jurisdiction - Review AOS Response
  charts/div-dn/values.preview.template.yaml
  mocks/services/case-orchestration/retrieve-case/mock-case.json
  mocks/steps/modify-session/ModifySession.content.json
  steps/review-aos-response/ReviewAosResponse.content.json
  steps/review-aos-response/ReviewAosResponse.step.js
  steps/review-aos-response/templates/ReviewResponse.html
  steps/review-aos-response/templates/ViewResponse.html
  steps/review-aos-response/templates/costOrder.html
  steps/review-aos-response/templates/howRespondentProceed.html
  steps/review-aos-response/templates/jurisdiction.html
  test/unit/steps/reviewAosResponse.test.js
  test/unit/steps/reviewAosResponseCCDState.test.js
Labels: ns:divorce, prd:div, rel:div-dn-pr-474

#479 Changes to Charts for next PR
  charts/div-dn/Chart.yaml
  charts/div-dn/values.preview.template.yaml
  charts/div-dn/values.yaml
Labels: ns:divorce, prd:div, rel:div-dn-pr-479

#478 Remove LaunchDarkly and comment out language toggle
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  config/custom-environment-variables.yml
  config/default.yml
  config/dev_template.yaml
  core/components/launch-darkly.js
  core/utils/featureToggle.js
  infrastructure/main.tf
  middleware/checkWelshToggle.js
  middleware/shimSession.js
  mocks/steps/idamLogin/IdamLogin.content.json
  package.json
  services/setupSecrets.js
  sonar-project.properties
  steps/accessibility-statement/AccessibilityStatement.step.js
  steps/adultery-first-found-out/AdulteryFirstFoundOut.step.js
  steps/amend-application/AmendApplication.step.js
  steps/apply-for-decree-nisi/ApplyForDecreeNisi.step.js
  steps/behaviour-continued-since-application/BehaviourContinuedSinceApplication.step.js
  steps/check-your-answers/CheckYourAnswers.step.js
  steps/claim-costs/ClaimCosts.step.js
  steps/contact-divorce-team-error/ContactDivorceTeamError.step.js
  steps/contact-divorce-team/ContactDivorceTeam.step.js
  steps/cookies-policy/CookiesPolicy.step.js
  steps/court-feedback/CourtFeedback.step.js
  steps/desertion-asked-to-resume-dn/DesertionAskedToResumeDN.step.js
  steps/dn-no-response/DnNoResponse.step.js
  steps/done/Done.step.js
  steps/exit-intolerable/ExitIntolerable.step.js
  steps/exit/Exit.step.js
  steps/intolerable/Intolerable.step.js
  steps/lived-apart-since-adultery/LivedApartSinceAdultery.step.js
  steps/lived-apart-since-desertion/LivedApartSinceDesertion.step.js
  steps/lived-apart-since-last-incident-date/LivedApartSinceLastIncidentDate.step.js
  steps/lived-apart-since-separation/LivedApartSinceSeparation.step.js
  steps/mini-petition/MiniPetition.step.js
  steps/petition-progress-bar/PetitionProgressBar.step.js
  steps/privacy-policy/PrivacyPolicy.step.js
  steps/resp-not-admit-adultery/RespNotAdmitAdultery.step.js
  steps/review-aos-response-from-co-respondent/ReviewAosResponseFromCoRespondent.step.js
  steps/review-aos-response/ReviewAosResponse.step.js
  steps/share-court-documents/ShareCourtDocuments.step.js
  steps/terms-and-conditions/TermsAndConditions.step.js
  steps/upload/Upload.step.js
  test/unit/core/components/launch-darkly.test.js
  test/unit/core/utils/featureToggle.test.js
  views/includes/phase_banner.html
  yarn.lock
Labels: ns:divorce, prd:div, rel:div-dn-pr-478
